<header
  #opacity
  class="bg-foss-bg/80 backdrop-blur-xl lato-regular fixed top-0 left-0 w-full z-9 transition-all duration-1000 p-3 h-12 ease-in-out"
>
  <nav class="flex flex-row pl-16 justify-between">
    <a routerLink="/" class="lexend-zetta-bold flex w-full text-gamboge-500">
      FOSS <span class="text-gamboge-50 font-normal text-md"> MEC</span>
    </a>
    <img src="fossmec_logo.jpg" alt="FOSSMEC Logo" class="mr-2 w-auto h-8" />
  </nav>
</header>
<div
  #sidemenu
  (click)="openSideMenu()"
  class="fixed transition-all duration-700 w-0 ease-in-out top-0 left-0 bg-gamboge-400 z-30 h-screen invisible"
>
  <div
    #sidemenucontent
    class="text-gamboge-50/30 font-black text-xl transition-all duration-700 ease-in-out flex flex-col pt-32 pl-[5vw]"
  >
    <a
      class="transition-all duration-700 ease-in-out text-gamboge-50/80 hover:text-foss-bg"
      routerLink="about"
      >about</a
    >
    <a
      class="transition-all duration-700 ease-in-out text-gamboge-50/80 hover:text-foss-bg"
      routerLink="events"
      >events</a
    >
    <a
      class="transition-all duration-700 ease-in-out text-gamboge-50/80 hover:text-foss-bg"
      routerLink="blogs"
      >blog</a
    >
    <a
      class="transition-all duration-700 ease-in-out text-gamboge-50/80 hover:text-foss-bg"
      routerLink="gallery"
      >gallery</a
    >
  </div>
</div>

<div
  (click)="openSideMenu()"
  class="p-3 fixed top-0 left-0 text-gamboge-400 z-50"
>
  <span class="material-symbols-outlined" style="font-size: 1.2rem">
    menu
  </span>
</div>
