<app-follow-mouse />
<div class="h-[100vh] md:h-[160vh] w-screen p-12 text-gamboge-50">
  <div #blur class="fixed h-screen w-screen top-3/4 left-1/12 z-[1]">
    <h2
      class="lexend-zetta-bold text-gamboge-500 hover:text-gamboge-400 text-5xl md:text-6xl transition-colors duration-300 ease-in-out"
    >
      FOSS<span class="text-gamboge-50/80 font-normal">MEC</span>
    </h2>
    <p
      class="pl-1 text-gamboge-50/75 lexend-zetta text-base md:text-lg max-w-md"
    >
      the open source Software Foundation at
      <span class="text-gamboge-500 font-semibold">MEC</span>
    </p>
  </div>

  <a routerLink="about">
    <div
      #blur2
      class="fixed top-1/4 backdrop-blur-xs text-right right-18 z-20 leading-relaxed border-[1px] border-foss-bg p-2 rounded-2xl hover:bg-gamboge-400/10 hover:border-gamboge-400"
    >
      <p class="max-w-sm text-gamboge-50/70 text-sm">
        <span class="text-gamboge-400 font-bold">FOSS</span>
        <span class="text-gamboge-50"> MEC</span> is a non-profit foundation
        that aims at promoting and strengthening the
        <span class="text-gamboge-50 font-bold"
          ><span class="text-gamboge-400 font-bold">F</span>ree and
          <span class="text-gamboge-400 font-bold">O</span>pen
          <span class="text-gamboge-400 font-bold">S</span>ource
          <span class="text-gamboge-400 font-bold">S</span>oftware
        </span>
        ecosystem among <span class="text-gamboge-50 font-bold">MEC</span>ians.
      </p>
    </div>
  </a>
</div>
<div
  #blur3
  class="fixed top-0 left-0 h-screen w-screen z-0 pointer-events-none"
>
  <img
    src="android-svgrepo-com.svg"
    alt="Android Logo"
    class="absolute w-auto"
    style="top: 10%; left: 15%; height: 5em; transform: rotate(-25deg)"
  />
  <img
    src="fedora-svgrepo-com.svg"
    alt="Fedora Logo"
    class="absolute w-auto"
    style="top: 25%; left: 70%; height: 2.5em; transform: rotate(10deg)"
  />
  <img
    src="arch-linux-svgrepo-com.svg"
    alt="Arch Linux Logo"
    class="absolute w-auto"
    style="top: 5%; right: 10%; height: 8em; transform: rotate(40deg)"
  />
  <img
    src="linux-svgrepo-com.svg"
    alt="Linux Tux"
    class="absolute w-auto"
    style="top: 15%; left: 5%; height: 6em; transform: rotate(5deg)"
  />
  <img
    src="debian-svgrepo-com.svg"
    alt="Debian Logo"
    class="absolute w-auto"
    style="top: 40%; left: 37%; height: 4em; transform: rotate(-5deg)"
  />
  <img
    src="firefox-svgrepo-com.svg"
    alt="Firefox Logo"
    class="absolute w-auto"
    style="top: 35%; left: 7%; height: 4.5em; transform: rotate(30deg)"
  />
  <img
    src="vim-svgrepo-com.svg"
    alt="vim Logo"
    class="absolute w-auto"
    style="top: 35%; left: 25%; height: 6.5em; transform: rotate(30deg)"
  />
  <img
    src="gimp-logo-editor-2-svgrepo-com.svg"
    alt="GIMP Logo"
    class="absolute w-auto"
    style="top: 75%; left: 60%; height: 5em; transform: rotate(-35deg)"
  />
  <img
    src="blender-svgrepo-com.svg"
    alt="Blender Logo"
    class="absolute w-auto"
    style="top: 50%; right: 5%; height: 5.5em; transform: rotate(-10deg)"
  />
  <img
    src="kde-svgrepo-com.svg"
    alt="kde Logo"
    class="absolute w-auto"
    style="top: 20%; right: 40%; height: 5.5em; transform: rotate(-10deg)"
  />

  <img
    src="python-svgrepo-com.svg"
    alt="Python Logo"
    class="absolute w-auto"
    style="bottom: 35%; left: 30%; height: 3.8em; transform: rotate(22deg)"
  />
  <img
    src="git-branch-svgrepo-com.svg"
    alt="Git Logo"
    class="absolute w-auto"
    style="top: 12%; left: 45%; height: 2.2em; transform: rotate(-42deg)"
  />
  <img
    src="docker-svgrepo-com.svg"
    alt="Docker Logo"
    class="absolute w-auto"
    style="top: 64%; left: 4%; height: 4.2em; transform: rotate(8deg)"
  />
  <img
    src="inkscape-svgrepo-com.svg"
    alt="inkscape Logo"
    class="absolute w-auto"
    style="bottom: 30%; right: 35%; height: 3.3em; transform: rotate(18deg)"
  />
  <img
    src="sqlite-svgrepo-com.svg"
    alt="sqlite Logo"
    class="absolute w-auto"
    style="top: 72%; left: 51%; height: 3.8em; transform: rotate(12deg)"
  />
  <img
    src="vlc-logo-player-svgrepo-com.svg"
    alt="VLC Logo"
    class="absolute w-auto"
    style="top: 90%; left: 25%; height: 4.8em; transform: rotate(-12deg)"
  />
</div>
