<div class="text-gamboge-50/70 fade-in pt-16 px-[5vw] space-y-4  ">
  <div class="flex flex-row justify-between">
  <h2
      routerLink="/events"
    class="lexend-zetta-bold p-2 text-gamboge-500 hover:text-gamboge-400 text-2xl transition-colors duration-300 ease-in-out"
  >
    FOSS<span class="text-gamboge-50/80 font-normal">Events</span>
  </h2>
    <div class="flex flex-row h-8">
    </div>
  </div>



@if (events$ | async; as events) {
  @if (events.length > 0) {
    <div  #container class="space-x-4 flex flex-row  overflow-x-scroll p-2">
      @for (event of events; track event.id) {
  <a [routerLink]="['/event',event.id]">

 <article class="group relative aspect-square md:w-auto w-[80vw] border hover:border-gamboge-400/70  transition-all duration-1000 ease-in-out border-gamboge-400/20 md:h-[60vh] rounded-2xl overflow-hidden" >


    <img [src]="event.imageUrl" class="absolute    inset-0 w-full h-full object-cover transition-all group-hover:translate-x-2 opacity-100 group-hover:opacity-50 blur-none duration-700 ease-in-out group-hover:scale-103 z-0" [alt]="event.eventTitle" />
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/20 to-transparent z-0 "></div>


                <span class="material-symbols-outlined absolute top-4 right-4 group-hover:bg-gamboge-400/80 group-hover:backdrop-blur-3xl group-hover:text-foss-bg group-hover:w-14 w-10  rounded-2xl transition-all duration-1000 ease-in-out p-2 text-end">
arrow_forward
</span>
  <div class="absolute bottom-0 top-24  justify-end p-4  left-0 right-0 z-10  bg-gradient-to-t  from-gamboge-500  via-20% via-gamboge-500/50    to-60% to-transparent opacity-100  flex flex-col transition-opacity duration-1000 ease-in-out ">

      <h3 class="text-gamboge-50 w-2/3  font-black text-3xl lato-black pb-3 ">
        {{ event.eventTitle }}
      </h3>

    <p class="group-hover:opacity-100 h-0 group-hover:h-2/4 md:group-hover:h-1/4  opacity-0 transition-all ease-in-out duration-1000 text-gamboge-50/90 overflow-ellipsis" >
      {{ event.description | truncate:previewLength }}
    </p>

  </div>
</article>
            </a>
      }
    </div>
  } @else {
    <p>nothing</p>
  }
} @else {
  <p>Loading </p>
}

</div>
