<div class="text-gamboge-50/70 pt-[20vh] px-[5vw] space-y-4  ">
  <h2
    class="lexend-zetta-bold p-2 text-gamboge-500 hover:text-gamboge-400 text-2xl transition-colors duration-300 ease-in-out"
  >
    FOSS<span class="text-gamboge-50/80 font-normal">Blogs</span>
  </h2>



@if (blogs$ | async; as blogs) {
  @if (blogs.length > 0) {
    <div  class="space-y-4 flex flex-col">
      @for (blog of blogs; track blog.id) {
  <a [routerLink]="['/blog',blog.id]">
        <article class="w-full border hover:border-gamboge-400/50 transition-all duration-500 ease-in-out hover:bg-gamboge-400/10 backdrop-blur-3xl border-gamboge-400/20 min-h-[18vh] max-h-20vh  p-4 rounded-2xl" >
          <header>
                <div class="flex flex-row justify-between">
            <h3 class="text-gamboge-400/70 font-black text-xl">
{{ blog.blogTitle }}
            </h3>
@if (blog.dateTime) {
                  <time class="text-gamboge-50/40 text-[15px]" [attr.datetime]="blog.dateTime">{{ blog.dateTime  }}</time>
                }
                </div>
            @if(blog.subtitle) {
              <p  class="text-sm text-gamboge-50/40 ">{{ blog.subtitle }}</p>
            }
                @if (blog.author) {
                  <span >{{ blog.author }}</span>
                }

          </header>
          <p class="text-gamboge-50/20 hover:text-gamboge-50/70 transition-all ease-in-out duration-1000  overflow-ellipsis" >
            {{ blog.description | truncate:previewLength }}
          </p>
        </article>
    </a>
      }
    </div>
  } @else {
    <p>nothing</p>
  }
} @else {
  <p>Loading </p>
}

</div>
