<div class="h-20 flex justify-center items-center gap-x-6 sm:gap-x-8 p-4">
  <a
    href="https://www.linkedin.com/company/fossmec/?originalSubdomain=in"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn"
    class="text-white hover:opacity-75 transition-opacity"
  >
    <img
      src="svg/linkedin-161-svgrepo-com.svg"
      alt="LinkedIn Logo"
      class="h-6 w-6 sm:h-8 sm:w-8"
    />
  </a>

  <a
    href="https://x.com/FossMec"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Twitter"
    class="text-white hover:opacity-75 transition-opacity"
  >
    <img
      src="svg/twitter-svgrepo-com.svg"
      alt="Twitter Logo"
      class="h-6 w-6 sm:h-8 sm:w-8"
    />
  </a>

  <a
    href="https://github.com/FOSSMec"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
    class="text-white hover:opacity-75 transition-opacity"
  >
    <img
      src="svg/github-142-svgrepo-com.svg"
      alt="GitHub Logo"
      class="h-6 w-6 sm:h-8 sm:w-8"
    />
  </a>

  <a
    href="https://www.instagram.com/foss_mec/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Instagram"
    class="text-white hover:opacity-75 transition-opacity"
  >
    <img
      src="svg/instagram-svgrepo-com.svg"
      alt="Instagram Logo"
      class="h-6 w-6 sm:h-8 sm:w-8"
    />
  </a>
</div>
