@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Zetta:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-gamboge-50: #fefaec;
  --color-gamboge-100: #fbf1ca;
  --color-gamboge-200: #f7e290;
  --color-gamboge-300: #f3cf56;
  --color-gamboge-400: #f0bb2f;
  --color-gamboge-500: #eaa021;
  --color-gamboge-600: #ce7711;
  --color-gamboge-700: #ab5512;
  --color-gamboge-800: #8b4215;
  --color-gamboge-900: #733614;
  --color-gamboge-950: #421b06;
  --color-foss-bg: #021323;
  --color-black-pearl-50: #eff8ff;
  --color-black-pearl-100: #deefff;
  --color-black-pearl-200: #b6e1ff;
  --color-black-pearl-300: #76caff;
  --color-black-pearl-400: #2dafff;
  --color-black-pearl-500: #0295f5;
  --color-black-pearl-600: #0076d2;
  --color-black-pearl-700: #005eaa;
  --color-black-pearl-800: #004f8c;
  --color-black-pearl-900: #074273;
  --color-black-pearl-950: #021323;
}

.lexend-zetta-bold {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.fade-in {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInLeft 0.8s ease-in-out forwards;
}
.fade-out {
  opacity: 1;
  transform: translateX(0px);
  animation: fadeoutright 0.8s ease-in-out forwards;
}
@keyframes fadeoutright {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
